* { 
margin: 0; 
padding: 0;    
box-sizing: border-box; 
}    
     
.clearfix::after { 
 content: ""; 
 clear: both; 
 display: table; 
} 

article { 
 content: ""; 
 clear: both; 
 display: table;    
 border: solid medium #092834; 
 border-radius: 12px; 
 width: 70vw;  
 padding: 16px; 
 background-color: #667ef5; 
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
} 

article h3,  
article h4,  
article h5 { 
 margin-top: 0; 
 padding: 20px 2vw 20px; 
 background-color: #6667f5; 
 border-radius: 7px 7px 0 0; 
} 

figure { 
 float: right;     
 max-width: 100%; 
 margin: 2vh 0; 
 background-color: #6667f5; 
} 
  
figure img { 
 display: block; 
 height: 185px; 
 width: 185px; 
 margin-left: auto; 
 margin-right: auto; 
} 

figcaption { 
 text-align: center; 
 clear: both; 
} 
   
p { 
 line-height: 1.36; 
 margin-top: 2em; 
 font-size: 100%; 
} 
   
.tp{ 
 background-color: #ffffff;   
 border: 4px solid #000000;    
 width: 70vw;    
 margin-bottom: 20px;  
 text-align: center; 
 border-radius: 10px;  
 padding: 30px;  
 font-family: Arial, Helvetica, sans-serif;  
} 
     
.subhead{ 
 text-align: center;    
} 
 
.secmain{  
 background-color: #ffffff;     
 color: #000000;     
 width: 100%;    
 margin-left: auto;  
 margin-right: auto;     
}  

.subbox{      
 background-color: #ffffff;      
 text-align: center;   
 margin: 0 auto;  
 list-style-type: none;
 height: 300px;    
 width: 640px;   
 border: 5px solid #000000;  
 border-radius: 20px;  
 padding: 100px;  
 font-size: 20px;
}  
   
/*Flexbox*/ 
main{  
 display: flex;   
 flex-wrap: wrap;  
} 
    
.team-gallery { 
 display: flex; 
 flex-flow: row wrap; 
 justify-content: center;  
 align-content: center; 
 gap: 50px; 
} 

.team-member { 
 border: 2px solid #000000; 
 border-radius: 8px;  
 text-align: center; 
 background-color: #8b8bc2; 
 box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
 margin: 12px; 
 width: 60vw; 
 padding: 10px; 
} 
   
.team-member img { 
 max-width: 100%; 
 height: auto; 
 border-radius: 45%; 
 border: 2px solid #000000;   
} 
   
.teamdesc{ 
 background-color: #8b8bc2; 
 box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);       
 text-align: center;   
 padding: 38px;  
 border: 2px solid #000000; 
 border-radius: 8px; 
 width: 85%;   
} 

.team-member h2, 
.team-member figcaption { 
 font-weight: bold; 
} 

.member1 { 
 order: 2; 
} 
.member2 { 
 order: 1;  
} 
.member3 {   
 order: 3; 
} 

.footer-container{   
 display: flex;  
 flex-wrap: wrap-reverse;
 overflow: hidden;
}

.flexfoot-column{           
 flex: 1;             
 margin: 0 50px;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 background-color: #92A4C8; 
}
     
.footer-column a { 
 text-decoration: none;
 display: block;
}

/*CSS Grid*/ 
.grid-container { 
 display: grid; 
 grid-template-rows: [header-start] 1fr [content-start] auto [footer-start] auto; 
 grid-template-columns: [nav] 1fr [main] 3fr [aside] 1fr; 
 grid-template-areas: 
  "head head head" 
  "nav main aside"  
  "foot foot foot"; 
} 
       
header { 
 grid-area: head; 
} 

.topnav { 
 grid-area: nav;
 align-self: flex-start; 
} 
       
main { 
 grid-area: main; 
} 
       
aside { 
 grid-area: aside;
 padding: 1em; 
 align-self: flex-start;  
} 
       
footer { 
 grid-area: foot;
} 

.footer-grid { 
 display: grid; 
 height: 200px; 
 align-content: space-evenly; 
 align-items: start;  
 grid-template-columns: repeat(3, 1fr);    
 gap: 10px; 
 background-color:#92A4C8;  
 padding: 10px; 
} 

.gridfoot-column { 
 background-color: #7282a4;    
 text-align: center; 
 padding: 20px 0; 
 font-size: 15px; 
} 

.gridfoot-center{
  background-color: #5b6c90;    
  text-align: center; 
  justify-self: center;
  width: 30vw;
  font-size: 110%;
}