* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  text-align: center;
  margin: 0;
}

header {
  width: 100%;
  height: 10%;
  background-color: #36486b;
  color: #000000;
  padding: 1em;
  text-align: center;
}

.headerclass { 
  background-color: #36486b;  
  color: #ffffff; 
}

nav {
  width: 100%;
  height: 1.5em;
  padding-left: 1em;
  background-color: #3a3a3a;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.navclass{ 
  background-color: #36486b; 
  color: #ffffff; 
  height: 3em; 
} 

a {
  color: #ffffff;
}

a:link { color:#290303; }  
a:visited { color:#0000FF; }  
a:hover { color:#FF00FF; }  

main {
  width: 100%;
  height: 60em;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 1em 0;
}

.mainclass{ 
  background-color: #fefbd8; 
  color: #000000; 
} 

ul {
  background: #1259a1;
  padding: 20px;
  margin: 0;
}
ul li {
  background: #cce5ff;
  color: #000000;
  margin: 0.5px;
  text-align: center;
}

section {
  width: 100%;
  float: left;
  background-color: #d1d1e0;
  padding: 1.5em;
  margin: 0;
}

h1{
  color: #ffffff;
  font-weight: 900;
  font-family: "Lucida Console", "Courier New", monospace;
}
h2{
  color: #000000;
  font-family: "Lucida Console", "Courier New", monospace;
}
p {
  color: #000000;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}
table caption {
  color: #000000;
  font-weight: 790;
  font-size: 1.2rem;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr {
  border-bottom: thin solid #000000;
}
thead tr {
  background-color: #000000;
  color: #fefbd8;
}
tbody tr:nth-child(even) {
  background-color: #fefbd8;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

footer {
  width: 100%;
  height: 7em;
  clear: both;
  background-color: #b8b8b8;
  color: #ffffff;
  text-align: center;
  padding-top: .7em;
  margin: 0;
}
.footerclass { 
  font-family: Monaco, Consolas, "Lucida Console", monospace; 
} 