* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body { 
 font-family: Arial, Helvetica, sans-serif; 
 line-height: 1.8; 
 margin: 0; 
 background-color:#1259a1;
} 
 
.header{ 
width: 100%; 
height: 10%;
padding: 2vw; 
text-align: center; 
background-color: #36486b; 
color: #ffffff;   
} 
 
header img{
 max-width: 16vw; 
 position: absolute;
 width: 140px; 
 height: 140px; 
 top: 3%;
 left: 45%;
} 
  
main { 
 background-color: #ffffff;  
 color: #000000;  
 width: 80vw;
} 

.conheader{
 text-align: center;
}

.conmain{
 background-color: #ffffff;  
 color: #000000;  
 width: 100%;
}
 
.toc { 
 list-style-type: none; 
} 
 
a:link {  
  color:#2D476C; 
}  
a:visited {  
  color:#0000ff;  
}    
a:hover {  
  color:#ff00ff;  
}  
a:active { 
  color:#ff0000; 
} 

ul { 
 background: #104F8E; 
 padding: 7px; 
 width: 18vw;
 float: left; 
} 
 
ul li { 
 background: #cce5ff;  
 text-align: center; 
 font-family: Monaco, Consolas, "Lucida Console", monospace;  
 padding: 35px; 
 margin-bottom: 7px;
 height: 100px;
} 

.thumbnail { 
 max-width: 185px; 
 height: 210px; 
 text-align: center; 
 box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
 float: right;
} 
 
aside {
 max-width: 20%;
 height: 1vw;
 position: sticky;
 top: 0;
 float: right;
 padding-right: 10px;
}  
 
section {  
 background-color: #d1d1e0;  
 width: 100%;
 padding: 1.5em;
 margin: 0%;
}  
 
h1 { 
 color: #ffffff; 
 font-family: "Lucida Console", "Courier New", monospace; 
 text-align: center;
 padding-top: 10vw;
 margin: 0;
 font-size: 3vw;
 text-shadow: 3px 2px 5px #202020;
} 
h2,  
h3, 
h4, 
h5, 
h6 { 
 color: #000000; 
 font-weight: 900; 
 font-family: "Lucida Console", "Courier New", monospace; 
 font-size: 1.5rem; 
 margin-top: 1em;
} 
 
p,  
td { 
 color: #000000; 
 font-weight: 550; 
 font-family: Arial, Helvetica, sans-serif; 
} 
 
table { 
 border-collapse: collapse; 
 width: 70%; 
 margin-left: auto; 
 margin-right: auto;
} 
table caption { 
 color: #000000; 
 font-weight: 790; 
 font-size: 1.2rem; 
} 
th,  
td { 
 text-align: left; 
 padding: 8px; 
} 
tr { 
 border-bottom: thin solid #000000; 
} 
thead tr { 
 background-color: #000000; 
 color: #fefbd8; 
} 
tbody tr:nth-child(even) { 
 background-color: #fefbd8; 
} 
tbody tr:nth-child(odd) { 
 background-color: #ffffff; 
} 

.tp{
  text-align: center;
}

.conhead{
  text-align: center;
}

.form{ 
  margin: 0 auto; 
  width: 50%; 
  padding: 1px;
} 
 
textarea { 
 width: 100%;  
 box-sizing: border-box;  
 resize: vertical;  
}   

footer a:link {  
 color:#000000;  
}   
footer a:visited {  
 color:#0000FF;  
} 
footer a:hover {  
 color:#FF00FF;  
}  
footer a:active { 
 color:#ff0000; 
}  
 
footer { 
 width: 100%; 
 height: 7em; 
 clear: both; 
 background-color: #92A4C8; 
 text-align: center; 
 padding-top: .7em; 
 margin: 0; 
 font-family: Monaco, Consolas, "Lucida Console", monospace;  
} 