* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  text-align: center;
}

header {
  width: 100%;
  height: 10%;
  background-color: #36486b;
  color: #ffffff;
  padding: 1em;
  text-align: center;
}

.headerclass {
 background-color: #36486b
}

nav {
  width: 100%;
  height: 1.5em;
  padding-left: 1em;
  background-color: #b8b8b8;
  color: #000000;
  text-align: center;
}

.navclass{
  background-color: #36486b;
  color: #000000;
  height: 3em;
}

a {
  color: white;
}

main {
  width: 100%;
  height: 60.em;
  margin-left: auto;
  margin-right: auto;
  background-color: #2a57a5;
}

.mainclass{
  background-color: #fefbd8;
  color: #000000;
}

ul {
  background: #1259A1;
  padding: 20px;
}
ul li {
  background: #cce5ff;
  color: #000000;
  margin: 5px;
  text-align: center;
}

section {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #9292D3;
  padding: .5em;
}

a:hover {
  color: #69ffad;
}
a:link {
  color: #000000;
}
a:visited {
  color: #1008ff;
}

h1, h2 ,h3, h4 {
  color: #070000;
  font-weight: 900;
  font-family: "Lucida Console", "Courier New", monospace;
}
p {
  color: #000000;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table caption {
  color: #000000;
  font-weight: 790;
  font-size: 1.2rem;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr {
  border-bottom: thin solid #000000;
}
thead tr {
  background-color: #000000;
  color: #fefbd8;
}
tbody tr:nth-child(even) {
  background-color: #fefbd8;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

footer {
  width: 100%;
  height: 7em;
  clear: both;
  background-color: #b8b8b8;
  color: #000000;
  text-align: center;
  padding-top: .7em;
}

.footerclass {
  background-color: #36486b
 }